# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment
.env
.venv
venv/
ENV/

# Database
*.db
*.sqlite3

# Logs
logs/
*.log

# Model files
*.pkl
*.h5
*.model

# Data
data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

# Results and figures
*.png
*.jpg
*.jpeg
*.pdf
results/*
!results/.gitkeep

# PyCharm
.idea/

# Data files
*.csv
*.sqlite
*.db
*.h5
*.pkl

# macOS
.DS_Store

# Windows
Thumbs.db


archive/*
all_python_files.txt
copy.py